<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Projeto Simples Spring Boot com VSCode</h1>
    <p>Spring Boot são aplicações que funcionam por si próprias, dependendo somente do java.
        Cuida da infraestrutura do projeto, configurações iniciais necessárias para começar
        a codificar, colocar as regras de negócios, permite organização, e facilita colocar
        o projeto em produção.</p>

        <p>Pergunta: Como ele ajuda?
            Resposta: 1º favorece a convensão sbre a configuração - Configura o projeto a partir
            de convensões que ele adota. Ex.: Quer utilizar um JPA no projeto, ele já tem uma
            dependencia que você vai adicionar, e essa dependencia tem subdependencias e configura
            o projeto.
        </p>

        <p>Pergunta: Como ele ajuda?
            Resposta: 2º Já possui um servidor embarcado. Por padrão é o TomCat podendo escolher
            outro para utilização.
            Outro detalhe, ele deixa o pomxml organizado.
            Mais um detalhe, ele possui uma dependencia chamada devtools, com ela podemos reiniciar
            o projeto automaticamente a cada alteração realizada, já habilita algumas configurações,
            possui integração com o liveload - quando se faz uma alteração na página html, ja atualiza
            sem a necessidade de apertar o F5. 
        </p>

        <p>Pergunta: Como ele ajuda?
            Resposta: 3º ajuda quanto as metricas, saúde da aplicação. Ele possui a dependencia
            actuator que serve para gerenciar e monitorar a saúde da aplicação, dando várias
            informaçoes para cuidar da aplicação dentro do servidor.
        </p>

        <h2>O mais importante: Faz tudo isso sem gerar uma linha de código.
            Apenas adotando convenções configurando o projeto.
        </h2>
</body>
</html>